<div class="row">
    <div class="col-sm-6 offset-md-2">
      <app-card [title]="'Update ToDo'" [cardOptionBlock]="true" class="col-sm-6">
        <form [formGroup]="updateTodoForm">
          <label class="col-form-label">Title</label>
          <div class="form-group row">
            <div class="col-sm-12">
              <input type="text" class="form-control" formControlName="title">
            </div>
            <p
              *ngIf="updateTodoForm.get('title').touched && updateTodoForm.get('title').invalid && updateTodoForm.get('title').errors.required">
              Title is required
            </p>
          </div>
          <label class="col-form-label">Description</label>
          <div class="form-group row">
            <div class="col-sm-12">
              <textarea name="" id="" cols="30" rows="3" class="form-control" formControlName="description">
                </textarea>
              <div class="alert alert-danger"
                *ngIf="updateTodoForm.get('description').touched && updateTodoForm.get('description').invalid && updateTodoForm.get('description').errors.required">
                Description is required
              </div>
            </div>
          </div>
        </form>
        <button class="btn btn-primary float-right" style="margin-bottom: 20px;" [disabled]="!updateTodoForm.valid"
          (click)="updateTodo()">Update ToDo</button>
      </app-card>
    </div>
  </div>