<!-- <div class="bgimg" style="background-image: url('../../../../assets/images/auth/loginimage.jpg')"></div> -->

<section class="login p-fixed d-flex text-center bg-primary common-img-bg" style=" background-size: 100% 100%">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material">
            <div class="text-center">
              <img src="" alt="ToDo App">
            </div>
            <div class="auth-box" style="opacity : 0.9">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Sign Up</h3>
                </div>
              </div>
              <hr />
              <div class="input-group">
                <input type="email" class="form-control" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}"
                  placeholder="Please Enter Your Fullname">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="email" class="form-control" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"
                  placeholder="Please Enter Email Address">
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" [(ngModel)]="user.password"
                  [ngModelOptions]="{standalone: true}" placeholder="Please Enter Password" (keyup.enter)="addUser()">
                <span class="md-line"></span>
              </div>

              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                    (click)="addUser()">Register</button>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-10">
                  <!-- <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p> -->
                  <p class="text-inverse text-left">
                    <a [routerLink]="['/auth/login']" class="text-right f-w-600 text-inverse">Already have an account?
                      <b>Login Here</b>!</a>
                  </p>
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>