.custom-logo{
    max-width: 152px !important;
    height: auto;
    margin-right: 15%;
}

@media screen and(max-width :995px){
    .custom-logo{
        max-width: 15% !important;
        margin-left: 39px !important;
    }
}

@media screen and(max-width:769px){
    .custom-logo{
        margin-top: -40px !important;
    }
}

.fnt{
    font-size: 18px !important;
}