<div class="row">
  <div class="col-sm-6 offset-md-2">
    <app-card [title]="'Add ToDo'" [cardOptionBlock]="true" class="col-sm-6">
      <form [formGroup]="addTodoForm">
        <label class="col-form-label">Title</label>
        <div class="form-group row">
          <div class="col-sm-12">
            <input type="text" class="form-control" formControlName="title">
            <div class="alert alert-danger"
              *ngIf="addTodoForm.get('title').touched && addTodoForm.get('title').invalid && addTodoForm.get('title').errors.required">
              Title is required
            </div>
          </div>
        </div>
        <label class="col-form-label">Description</label>
        <div class="form-group row">
          <div class="col-sm-12">
            <textarea name="" id="" cols="30" rows="3" class="form-control" formControlName="description">
              <input type="text" >
              </textarea>
            <div class="alert alert-danger"
              *ngIf="addTodoForm.get('description').touched && addTodoForm.get('description').invalid && addTodoForm.get('description').errors.required">
              Description is required
            </div>
          </div>
        </div>
      </form>
      <button class="btn btn-primary float-right" style="margin-bottom: 20px;" [disabled]="!addTodoForm.valid"
        (click)="addTodo()">Add ToDo</button>
    </app-card>
  </div>
</div>

<app-card [title]="'Here is the list of your all ToDos'" [cardOptionBlock]="true">
  <table class="table table-bordered table-hover table-striped">
    <tr>
      <th class="table-fit">#</th>
      <th>Title</th>
      <th>Description</th>
      <th>is Completed</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let todo of todos | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
      <td>{{i+1}}</td>
      <td>{{todo?.title}}</td>
      <td>{{todo?.description}}</td>
      <td>{{todo?.isCompleted}}</td>
      <td>
        
        <button type="button" ngbTooltip="Edit ToDo" placement="top" (click)="updateTodo(todo._id)"
          class="btn btn-default btn-sm checkbox-toggle">
          <i class="fa fa-pencil-square-o"></i>
        </button>
        <button type="button" (click)="deleteTodo(todo._id)" ngbTooltip="Delete ToDo" placement="top"
          class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-close fa-lg"></i></button>
          <input *ngIf="todo?.isCompleted == false" type="checkbox" class="btn btn-default btn-sm checkbox-toggle"
          value="1" ngbTooltip="Mark Completed" placement="top" (click)="markCompleted(todo._id)">
      </td>
    </tr>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</app-card>