/* You can add global styles to this file, and also import other style files */
.float-right{
    float: right;
}
.mb-20{
    margin-bottom: 20px !important;
}

.swal2-container{
    z-index: 10000 !important;
}
.dept-card{
    width: 200px;
    height: 170px;
    padding: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 6px 8px 42px 1px;
    border-radius : 5px;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: transform 0.15s;
    transform: scale(1);  
    justify-content: center;
    text-align: center;
    cursor: pointer;

    span{
        margin-top: 10px;
    }
    i{
        font-size: 40px;
    }
}
.dept-card:hover{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
    color: #4099ff;
}

.card-icon{
    display: grid;
}